.projectsBox {
    text-align: center;
  }
  
  .projectsBox>h2 {
    margin-left: 15rem;
    margin-bottom: 4rem;
  }

  
.inprojectBox>h2 {
    margin-left: 16rem;
    margin-bottom: 2rem;
    margin-right:12rem
  }

  .projectsContainer {
    /* border: 2px solid black; */
    width: 100%
  }
  @media screen and (max-width:400px) {
    .projectsBox>h2 {
       margin-left: 0;
       text-align: center;
      }
      .inprojectBox>h2 {
        font-size: 2.5rem;
        margin-right: 2rem;
        margin-bottom: 0rem;
        margin-left: 0;
        text-align: center;
      }

      .projectsContainer{
        
      }
  }
  @media screen and (max-width: 768px) {
    .projectsBox>h2 {
    }
    .inprojectBox>h2 {
        margin-left: 4rem;
        margin-right: 5rem;
        margin-bottom: 0rem;
      }
  }

  