
.bigBox {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
    /* border: 2px solid red; */
  }

  @media screen and (max-width:400px) {
    .bigBox{
      padding: 0rem;
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .bigBox {
      padding: 0rem;
    }
  }