.techStack>h3 {
  font-family: 'Montserrat' sans-serif;
  margin-left: 38rem;
}

.techStack {
  margin-top: 2rem;
}

.stackContainer {
  display: flex;
  margin-right: 10rem;
}

.langsBox {
  display: flex;
}

.languages {
  display: flex;
  margin-left: 8rem;
}

.logo {
  margin-top: 5rem;
  margin-left: 10rem;
}

.logo2 {
  margin-left: 3rem;
  margin-top: 5rem;
}

.current {
  margin-top: 5rem;
}

.current>h4 {
  display: inline-block;
  margin-left: 37rem;
}

.currentLearning {
  color: #ffffff;
  padding-left: 40rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

@media screen and (max-width:350px) {
  .techStack>h3{
    font-family: 'Montserrat' sans-serif;
    margin-left: 2.5rem;
  }

  .stackContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .stackContainer .logo{
    /* border: 2px solid red; */
    width:7rem;
    margin-left: 7rem;
  }
  .langsBox{
    display: flex;
    margin-left: 0rem;
  }

  .languages{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
  }

  .current>h4{
    margin-left: 6rem;
  }

  .currentLearning{
    margin-left: 0;
    padding-left: 4rem;
  }
}

@media screen and (min-width:351px) and (max-width:768px) {
  
  .techStack>h3{
    font-family: 'Montserrat' sans-serif;
    margin-left: 10rem;
  }

  .stackContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .stackContainer .logo{
    /* border: 2px solid red; */
    width:7rem;
    margin-left: 7rem;
  }
  .langsBox{
    display: flex;
    margin-left: 0rem;
  }

  .languages{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
  }

  .current>h4{
    margin-left: 8rem;
  }

  .currentLearning{
    margin-left: 0;
    padding-left: 11rem;
  }
}