.contact>p {
    font-size: 25px;
    padding: 3rem;
    text-align: center;
    font-family: 'Montserrat';
  }
  
  .contact>h3 {
    margin-left: 37vw;
  }
  
  .icons {
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  .twticon{

  }

  .twticon:hover {
    color: #00ACEE;
    cursor: pointer;
  }
  
  .linkedicon:hover {
    color: #0A66C2;
    cursor: pointer;
  }
  
  .ghicon:hover {
    color: rgb(46, 46, 46);
    cursor: pointer;
  }

  a {
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (max-width: 768px) {
    .contact>h3{
      margin-left: 8vw;
      font-size: 10vw;
      text-align: center;
    }
    .icons {
      margin-left: 0vw;
    }
    .twticon{
      margin-left: 4rem;
      font-size: 1rem;
    }
  } 